---
import { render } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { getLatestPost } from "../lib/posts.ts";


const post = getLatestPost();
const { Content } = await render(post);
---

<Layout title="Homepage" description="Randall's Media thread blog">
	<h1>{post.data.title}</h1>
	<Content />
    </div>
</Layout>
