body {
  background: #252525;
  font-family: "Candara", "Open Sans", sans-serif;
  font-size:16px;
  color: white;
  }
  
a {
    color: #0783b9;
  }

.main p{
  word-wrap: break-word;
  overflow-wrap: break-all;
  width:100%;
}

  .main h1,h2,h3{
    text-align: center;
  }

  .main h4{
    font-size:12px;
    color:rgba(255,255,255,0.2);
    text-align: center;
  }

  hr{
    margin:30px;
  }
  
.tiny {
  font-size: 9px;
  margin: 0 auto;
  text-align: center;
  }
  
/*Everything in the main box goes in this*/
.wrapper {
  width: 750px;
  border: 3px solid black;
  margin: 0 auto;
  top: 0px;
  }

para{
  color:rgba(255,255,255,0.5)
}
  
.header {
  position:relative;
  height: 300px;
  border-bottom: 3px solid black;
  margin: 0 auto;
  overflow: hidden;
  background-size:cover;
  }
  
/*This and the header-title class are deprecated now that this style uses a background image for the header div.*/
/*.header img {
  display: block;
  opacity: 0.35;
  width: 100%;
  height: 100%;
  overflow: hidden;
  }
*/

 /*If you want to use a smaller title or normal text, add .header p or .header h4 or whatever to the list*/
.header h2, .header h3, .header h1 {
  font-weight: bold;
  color: white;
  text-align: right;
  border: 0px solid green;
  position:absolute;
  bottom:1px;
  left:345px;
  opacity: 0.999999;
  text-shadow: #000 2px 2px 3px;
}

.links {
  background: black;
  padding: 10px;
  border-bottom: 3px solid black;
  }
  
.links a {
  color: white;
  padding: 3px;
  margin-left: 5px;
  margin-right:5px;
  text-decoration: none;
  font-size:17px;
  }

.links a:hover{
  text-decoration: underline;
}

.main {
  padding: 25px;
  margin: 0 auto;
  background: #222222;
  }
  
/*Prevent overflow of large images in main text areas.*/
.main img {
  max-width:95%;
  display:block;
  margin-left:auto;
  margin-right: auto;
  outline: 5px solid white;;
  }
  
.footer {
  background: black;
  padding: 20px;
  padding-top:5px;
  padding-bottom:5px;
  border-top: 3px solid black;
  font-size:14px;
  }
  
  
/*For narrow screens*/
@media(max-width: 790px) {
  .wrapper {
    width: 95%;
    }
  .header h1, .header h2, .header h3 { /*Vertical centering gets wonky when the box is variable width*/
    margin: 20% 5% auto;
    }
  }  

/*Mobile compatibility*/
@media(orientation: portrait) {
  .wrapper {
    width: 95%;}
  .header {
    position:relative;
    height: 230px;
    }
    .header h1, .header h2, .header h3 {
      position: relative;
      bottom: -130px;
      left: -30px;
      font-size: 20px;
    }
  }